[Unit]
Description=Droid mount for /vendor
Before=local-fs.target systemd-modules-load.service vendor-dsp.mount vendor-bt_firmware.mount vendor-firmware_mnt.mount

[Mount]
What=/system_root/vendor
Where=/vendor
Type=none
Options=bind

# Default is 90 which makes mount period too long in case of
# errors so drop it down a notch.
TimeoutSec=10

[Install]
WantedBy=local-fs.target

